*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    background-color: rgb(240, 138, 138);
    display: flex;
    align-items: center;
    justify-content: center;
}

#limitador-botao{
    position: relative;
}

section#principal{
    width:80vw;
    height:80vh;
    background-color: rgb(213, 62, 62);
    border-radius: 10px;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}

footer{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

main{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main img{
    display: block;
    width: 250px;
}

#botoes{
    display: flex;
    justify-content: space-around;
}

main button{
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 50px;
    background-color: rgb(212, 22, 22);
    border: 2px solid rgb(246, 140, 140);
}

#botao-sim{
    cursor: pointer;
    margin-left: -120px;
}
#botao-nao{
    cursor: pointer;
    position: absolute;
    margin-left: 120px;
}